<?xml version='1.0' encoding='utf-8'?>
<widget id="appztek.apps.instituto3e" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Instituto 3E</name>
    <description>
        Plataforma de aprendisaje - Instituto 3E
    </description>
    <author email="contacto@appztek.mx" href="https://appztek.mx">
        Equipo Appztek
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
